<%= render 'shared/page_title', title: "All lands", title_content: "explore our world" %>

  <section id="blog" class="p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-columns">
            
            <div class="card">
              <img src="http://lorempixel.com/500/500/city/3" alt="" class="card-img img-fluid">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="card-block card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laudantium optio natus, aperiam magni animi?</p>
                <footer>
                  <small class="text-muted">
                    Someone Famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
              
            <div class="card">
              <img src="http://lorempixel.com/500/500/city/3" alt="" class="card-img img-fluid">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="card-block card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laudantium optio natus, aperiam magni animi?</p>
                <footer>
                  <small class="text-muted">
                    Someone Famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            
            <div class="card">
              <img src="http://lorempixel.com/500/500/city/3" alt="" class="card-img img-fluid">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="card-block card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laudantium optio natus, aperiam magni animi?</p>
                <footer>
                  <small class="text-muted">
                    Someone Famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

