<br/>
<footer id="main-footer" class="text-center p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright 2017 &copy; EC17-15</p>
      </div>
    </div>
  </div>
</footer>